body{
    background-color: rgb(240, 240, 240);
}

.uk-position-relative{
    margin-bottom: 5%;
}
ul{
    padding: 15px;
    color: wheat;
}

.uk-logo{
    margin-left: 30px;
}

.boton1{
    background-color: rgb(70, 70, 70);
    color: white;
    size: auto;
}

.boton2{
    background-color: rgb(168, 168, 170);
}

.uk-button{
    width: 150px;
    height: 50px;
    margin: 2px;

}
.uk-navbar-left{
    margin-left: 3%;
    display: flex;
    justify-content: center;
    width: 60%;
}

.uk-navbar-right{
    margin-right: 3%;
}

.tapa{
    display: flex;
    flex-direction: column;
    padding: 2px;
}
.tapa h2{
    font-size: 42px;
    margin-top: 3px;
}
.tapa p{
    color: blanchedalmond;
}

.line {
    display: flex;
    justify-content: center;
}
.line p{
    font-size: 12px;
    color: blanchedalmond;
    margin: 5px;
    padding-right: 10px;
    border-right: blanchedalmond 1px solid;
}
.ver{
    color: white;
    background-color: red;
    height: 45px;
    width: 200px;
    margin-left: 150px;
    align-self: auto;

}

.uk-slideshow-item{
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ),url(../aux.jpg);
    background-attachment: fixed;
}

.peliculas{
    margin-left: 2%;
    margin-right: -1.5%;
    margin-bottom: 2%;
}

.uk-slider-items li{
    padding:1px;
}

#piedep {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    text-align: center;
    text-decoration-color: beige;
}
.peliculas img{
    transition: .5s;
}

.peliculas img:hover{
    margin-left: 0.3px;
    cursor: pointer;
    transform: scale(1.08);
}

.pelinav{
    border-bottom: 2px solid black;
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  footer img{
    width: 35px;
  }
  


@media only screen and (max-width: 385px){

.logito{
    display: none
}

.gd{
    margin: 0px

}
.boton1{
    display: none;
}
.boton2{
    display: none;
}

}