body{
    background-image: url(../Imagenes/shttefan-B7XNN9uNAh8-unsplash.jpg);
    background-attachment: fixed;
    background-size: cover;
}

header{
    display: flex;
    float: center;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 70px;
}

ul{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    list-style: none;
}
ul li{
    padding: 15px;
    color: wheat;
}

h1, h2, h3{
    color: ivory;
}
h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 50px;
    width: 90px;
    background-color: gray;
    border: none;
    font-size: 10px;
    
}
.registrarse{
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    height: 50px;
    width: 90px;
    background-color: white;
    border: none;
    font-size: 10px;
}

.terror{
    display: flex;
    justify-self: start;
    margin-left: 70px;
    margin-bottom: 70px;
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pelis img{
    width: 300px;
    height: 200px;
    padding: 5px;
}
.pelis{
    padding: 20px;
    background-color: black;
}
