.header{
    background-color: burlywood;
    padding: 10px;
    text-align: center;
}

.topnav{
    background-color: black;
    padding: 10px;
}


form {
    text-align: center;
    font-family:Verdana;
    font-size: 17px;
    font-weight:normal;
    text-align: center;
}

/*
.derecha  {
    color: black;
    text-align: right
    padding: 15px 20px;
    text-decoration: black;
}

.izquierda{
    text-align: left;
}
*/

.dis {
    background-color: black;
    text-decoration: white;
}