body{
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ),url(../Peliculas/peaky\ blinders\ portada.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-color: black;    
}

header{
    display: flex;
    float: center;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 70px;
    height: 65px;
    opacity: 0.8;
}

ul{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    list-style: none;
}
ul li{
    padding: 15px;
    color: wheat;
    font-size: 13px;
}

h1, h2, h3, h4, p{
    color: ivory;
}
h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 50px;
    width: 90px;
    background-color: gray;
    border: none;
    font-size: 10px;
    
}
.registrarse{
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    height: 50px;
    width: 90px;
    background-color: white;
    border: none;
    font-size: 10px;
}
.tapa{
    display: flex;
    flex-direction: column;
    width: 410px;
    margin-left: 150px;
    padding: 2px;
    margin-top: 8vw;
}
.tapa h2{
    font-size: 42px;
}
.tapa p{
    color: blanchedalmond;
}

.line {
    display: flex;
}

.episodios{
    width: 300px;
}

.line p{
    font-size: 12px;
    color: blanchedalmond;
    margin: 5px;
    padding-right: 10px;
    border-right: blanchedalmond 1px solid;
}
.ver{
    color: white;
    background-color: red;
    height: 45px;
    width: 200px;
    margin-left: 150px;
    margin-top: 20px;
}
#base{
    display: flex;
    justify-content: center;
    margin-top: 14vw;
}

.review{
    background-color: black;
    width: 80%;
}

.puntos{
    display: flex;
    justify-content: center;
    font-size: xx-large;
    background-color: red;
}

.descripcion{
    background-color: black;
}
.text{
    margin-left: 30px;
    padding: 20px;
}
.text p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.pelis img{
    width: 190px;
    height: 190px;
    padding: 10px;
}
.recomendadas{
    margin-left: 30px;
}